@use "sass:math";
@use "sass:color";

@function strip-unit($number) {
    @if type-of($number)=='number' and not unitless($number) {
        @return math.div($number, ($number * 0 + 1));
    }

    @return $number;
}

@function rem-calc($value, $base-value: $base) {
    $value: math.div(strip-unit($value), strip-unit($base-value)) * 1rem;

    @if ($value == 0rem) {
        $value: 0;
    }

    @return $value;
}

@function px-calc($value, $base-value: $base) {
    $value: strip-unit($value), strip-unit($base-value) * 1px;

    @if ($value == 0px) {
        $value: 0;
    }

    @return $value;
}

@function lighten($color, $percent) {
    @return color.adjust($color, $lightness: $percent);
}

@function darken($color, $percent) {
    @return color.adjust($color, $blackness: $percent);
}

@function hexToRGB($value) {
    @return #{round(color.channel($value, "red", $space: rgb))}, #{round(color.channel($value, "green", $space: rgb))}, #{round(color.channel($value, "blue", $space: rgb))};
}
